@inherits RazorSlice<ImageViewModel>
<figure class="align-default" id="@Model.Label">
	<a class="reference internal image-reference" href="@Model.ImageUrl"><img alt="@Model.Alt" class="align-center" src="@Model.ImageUrl" style="@Model.Style">
	</a>
	<figcaption>
		<p>[CONTENT]<a class="headerlink" href="@Model.Label" title="Link to this image">¶</a></p>
	</figcaption>
</figure>