@inherits RazorSlice<TabItemViewModel>

@{
	var id = $"tabs-item-{Model.TabSetIndex}-{Model.Index}";
}

<input class="tabs-input" checked="@(Model.Index == 0 ? "checked" : "")" id="@id" name="tabs-set-@Model.TabSetIndex" type="radio" tabindex="0">
<label class="tabs-label" data-sync-id="@Model.SyncKey" data-sync-group="@Model.TabSetGroupKey" for="@id">@Model.Title</label>
<div class="tabs-content" tabindex="0">
	[CONTENT]
</div>
