@using Elastic.Markdown.Helpers
@inherits RazorSlice<LayoutViewModel>
<ol id="breadcrumbs" class="block w-full" itemscope="" itemtype="https://schema.org/BreadcrumbList">
	<li class="inline text-ink text-sm hover:text-ink leading-[1.2em] tracking-[-0.02em]" itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
		<a 
			itemprop="item"
			href="@Model.UrlPathPrefix/"
			hx-get="@Model.UrlPathPrefix/"
			hx-select-oob="@Htmx.GetHxSelectOob()"
			hx-swap="none"
			hx-push-url="true"
			hx-indicator="#htmx-indicator"
			preload="mouseover"
	>
			<span itemprop="name" class="hover:text-ink">Elastic</span>
		</a>
		<meta itemprop="position" content="1">
	</li>
	@foreach (var item in Model.Parents.Reverse().Skip(1))
	{
		<li class="inline text-gray-500 text-sm leading-[1.2em] tracking-[-0.02em]" itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
			<span class="px-1">/</span>
			<a
				itemprop="item" 
				href="@item.Url"
				hx-get="@item.Url"
				hx-select-oob="@Htmx.GetHxSelectOob()"
				hx-swap="none"
				hx-push-url="true"
				hx-indicator="#htmx-indicator"
				preload="mouseover"
			>
				<span itemprop="name" class="hover:text-ink">@item.NavigationTitle</span>
			</a>
			<meta itemprop="position" content="2">
		</li>
	}
	<li class="inline text-gray-500 text-sm leading-[1.2em] tracking-[-0.02em]" itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
		<span class="px-1">/</span>
	</li>
</ol>
