@using Elastic.Markdown.Helpers
@inherits RazorSlice<LayoutViewModel>
<footer id="prev-next-nav" class="content-container mt-20">
	<div class="flex flex-wrap lg:flex-nowrap gap-2 mt-2">
		<div class="w-full">
			@if (Model.Previous != null)
			{
				<a 
					href="@Model.Previous.Url"
					hx-get="@Model.Previous.Url"
					hx-select-oob="@Htmx.GetHxSelectOob()"
					hx-swap="none"
					hx-push-url="true"
					hx-indicator="#htmx-indicator"
					preload="mouseover"
					class="flex h-full items-center text-ink-light hover:black border-1 border-gray-300 hover:border-gray-500 rounded-lg p-6 shadow-md"
				>
					<svg class="size-6 mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
						<path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5"/>
					</svg>
					<div>
						<div class="text-xs lg:text-sm">Previous</div>
						<div class="text-base lg:text-xl text-black">@Model.Previous.NavigationTitle</div>
					</div>
				</a>
			}
		</div>
		<div class="w-full">
			@if (Model.Next != null)
			{
				<a 
					href="@Model.Next.Url"
					hx-get="@Model.Next.Url"
					hx-select-oob="@Htmx.GetHxSelectOob()"
					hx-swap="none"
					hx-push-url="true"
					hx-indicator="#htmx-indicator"
					preload="mouseover"
					class="flex h-full items-center justify-end text-ink-light hover:black border-1 border-gray-300 hover:border-gray-500 rounded-lg p-6 shadow-md text-right"
				>
					<div>
						<div class="text-xs lg:text-sm">Next</div>
						<div class="text-base lg:text-xl text-black">@Model.Next.NavigationTitle</div>
					</div>
					<svg class="size-6 ml-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
						<path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5"/>
					</svg>
				</a>
			}
		</div>
	</div>
</footer>
